# Creating Plots with Matplotlib

# Histogram & Bar Charts

Now lets bring everything we have learned with Pandas and Matplotlib together

In [ ]:
#Import the NBA Salries Dataset 
salaries = pd.read_csv('https://raw.githubusercontent.com/LGKerby/Python/master/NBA_season1718_salary.csv').drop('Unnamed: 0', axis=1)
salaries.head()

           Player   Tm  season17_18
0   Stephen Curry  GSW   34682550.0
1    LeBron James  CLE   33285709.0
2    Paul Millsap  DEN   31269231.0
3  Gordon Hayward  BOS   29727900.0
4   Blake Griffin  DET   29512900.0

# Pie Charts