# Homework 2: Pandas DataFrames
Dr. Leslie Kerby </br>
Data Science and Applied Machine Learning </br>
Student's name: Dan Hively

In [1]:
import numpy as np
import pandas as pd

## 1. World Population

**Question 1.1**<br/>
Read in the 'world_population.csv' file. Adjust your DataFrame to keep only the 'Year' and 'Population' columns. Show the first 5 elements with the `head` method.

In [34]:
world_pop = pd.read_csv('https://raw.githubusercontent.com/LGKerby/Python/master/world_population.csv',usecols=['Year','Population'])
#print(world_pop)

# Print the head of the world population data
print("--------------")
print("First 5 elements")
print(world_pop.head(5))

    Year  Population
0   1950  2557628654
1   1951  2594939877
2   1952  2636772306
3   1953  2682053389
4   1954  2730228104
..   ...         ...
61  2011  6944055583
62  2012  7022349283
63  2013  7101027895
64  2014  7178722893
65  2015  7256490011

[66 rows x 2 columns]
--------------
First 5 elements
   Year  Population
0  1950  2557628654
1  1951  2594939877
2  1952  2636772306
3  1953  2682053389
4  1954  2730228104

**Question 1.2**<br/>
How many rows (years) are in the DataFrame? Use python code to give the answer.

In [20]:
print("Number of rows (years) = " + str(len(world_pop.index)))

Number of rows (years) = 66

**Question 1.3**<br/>
What was the population of the world in 1976? Use python code to give the answer.

In [38]:
what_year = 1976

# Using world_pop.at[]
#print(world_pop.at['r4','Year'])
#print(df.at[df.index[3],'Duration'])

#pop_year = world_pop[what_year].values[3]
#print(pop_year)
print("World population in " + str(what_year) + " = ")

World population in 1976 =

**Question 1.4**<br/>
Use a boolean mask to create a DataFrame called `last_quartile` that contains the world population from years 1975 to 1999. You may do this in two steps (use two boolean masks) or you may do this in one step using the 'and' operator `&`.

*Hint:* For example, to select the years 1960 and 1970 from the DataFrame you would use the 'or' operator `|`:<br/>
`population[ (population['Year'] == 1960) | (population['Year'] == 1970) ]`

In [ ]:
last_quartile = ...
last_quartile

    Year  Population
25  1975  4089083233
26  1976  4160185010
27  1977  4232084578
28  1978  4304105753
29  1979  4379013942
30  1980  4451362735
31  1981  4534410125
32  1982  4614566561
33  1983  4695736743
34  1984  4774569391
35  1985  4856462699
36  1986  4940571232
37  1987  5027200492
38  1988  5114557167
39  1989  5201440110
40  1990  5288955934
41  1991  5371585922
42  1992  5456136278
43  1993  5538268316
44  1994  5618682132
45  1995  5699202985
46  1996  5779440593
47  1997  5857972543
48  1998  5935213248
49  1999  6012074922

**Question 1.5**<br/>
Now find the average of the world population in `last_quartile`. Use numpy to find the average.

In [ ]:
...

5037315305.76

## 2. Top Movies ##

**Question 2.1**<br/>
Read in 'top_movies.csv' into a DataFrame called `top_movies`. Show the first 5 rows with `head`.

In [ ]:
movies = pd.read_csv('https://raw.githubusercontent.com/LGKerby/Python/master/top_movies.csv')
...

**Question 2.2**<br/>
What movies were released in 2005? Use python to show just the movies titles (column).

In [ ]:
...

24         Star Wars: Episode III - Revenge of the Sith
60    The Chronicles of Narnia: The Lion, the Witch ...
62                  Harry Potter and the Goblet of Fire
Name: Title, dtype: object

**Question 2.3**<br/>
Use a boolean mask to create a DataFrame called `paramount` that contains only movies produced by 'Paramount'.

In [ ]:
...

,Title,Studio,Gross,Gross (Adjusted),Year
2,Titanic,Paramount,658672302,1178627900,1997
39,Forrest Gump,Paramount,330252182,683929300,1994
42,Iron Man,Paramount,318412101,385808100,2008
44,Indiana Jones and the Kingdom of the Crystal S...,Paramount,317101119,384231200,2008
46,Iron Man 2,Paramount,312433331,341908200,2010
77,Raiders of the Lost Ark,Paramount,248159971,770183000,1981
84,Beverly Hills Cop,Paramount,234760478,584205200,1984
92,Ghost,Paramount,217631306,447747400,1990
95,Mission: Impossible II,Paramount,215409889,347693200,2000
101,Indiana Jones and the Last Crusade,Paramount,197171806,429923500,1989
103,Grease,Paramount,188755690,669632000,1978
109,Mission: Impossible,Paramount,180981856,356231300,1996
110,Indiana Jones and the Temple of Doom,Paramount,179870271,465735500,1984
111,Top Gun,Paramount,179800601,417818200,1986
115,Crocodile Dundee,Paramount,174803506,401961400,1986
124,The Firm,Paramount,158348367,332761100,1993
125,Fatal Attraction,Paramount,156645693,345222500,1987
128,Beverly Hills Cop II,Paramount,153665036,341914500,1987
135,The Godfather,Paramount,134966411,686626300,1972
138,An Officer and a Gentleman,Paramount,129795554,379814600,1982
151,Love Story,Paramount,106397186,608983900,1970
160,Saturday Night Fever,Paramount,94213184,353261200,1977
174,The Ten Commandments,Paramount,65500000,1139700000,1956
188,Rear Window,Paramount,36764313,438086300,1954
190,The Greatest Show on Earth,Paramount,36000000,522000000,1952

**Question 2.4** <br/>
How many movies did Paramount produce? Use python to find the answer.

In [ ]:
...

25

**Question 2.5**<br/>
In what year was the first movie from Paramount (that appears in this top movies list)? Use python to find the answer.

In [ ]:
...

1952

**Question 2.6**<br/>
What was the name of that movie? Use python to show the answer.

In [ ]:
...

190    The Greatest Show on Earth
Name: Title, dtype: object

**Question 2.7.** <br/>
What was the average Adjusted Gross for all the Paramount movies (in this top movies list)? Use numpy.

In [ ]:
...

520560232.0